.App {
  height: 100%;
  display: grid;
  grid: 1fr / 300px 1fr;
  grid-template-areas: 'menu canvas-container';
}

.canvas-container {
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
